<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myskasc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiaActivity"
            android:parentActivityName=".ExamActivity">

        </activity>
        <activity android:name=".DayVIActivity"
            android:parentActivityName=".TimetableActivity">
        </activity>
        <activity android:name=".DayVActivity"
            android:parentActivityName=".TimetableActivity">
        </activity>
        <activity android:name=".DayIVActivity"
            android:parentActivityName=".TimetableActivity">
        </activity
            >
        <activity android:name=".DayIIIActivity"
            android:parentActivityName=".TimetableActivity">
        </activity>
        <activity android:name=".DayIIActivity"
            android:parentActivityName=".TimetableActivity">
        </activity>
        <activity android:name=".DayIActivity"
            android:parentActivityName=".TimetableActivity">
        </activity>
        <activity android:name=".CircularActivity"
            android:parentActivityName=".DashboardActivity">
        </activity>

        <activity android:name=".CalenderActivity"
            android:parentActivityName=".DashboardActivity">
        </activity>
        <activity android:name=".TimetableActivity"
            android:parentActivityName=".DashboardActivity">
        </activity>
        <activity android:name=".ExamActivity"
            android:parentActivityName=".DashboardActivity">
        </activity>
        <service
            android:name=".MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".GalleryActivity"
            android:parentActivityName=".DashboardActivity">
        </activity>
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".DashboardActivity">
        </activity>
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>